<div class="row" id="error-pages">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="box">
            <h3 class="text-center">Извините</h3>
            <h4 class="text-muted">Мы не можем найти запрашиваемую вами страницу</h4>
            <p>Попробуйте воспользоваться поиском или перейти на главную страницу</p>
        </div>
    </div>
</div>
